@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "panmac";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #f5f5f5;
  --color-base-300: #ebebeb;
  --color-base-content: #000000;
  --color-primary: #f2b625;
  --color-primary-content: #000000;
  --color-secondary: #08bef3;
  --color-secondary-content: #000000;
  --color-accent: #972f07;
  --color-accent-content: #ffffff;
  --color-neutral: #333333;
  --color-neutral-content: #ffffff;
  --color-info: #0660af;
  --color-info-content: #ffffff;
  --color-success: #4ade80;
  --color-success-content: #000000;
  --color-warning: #fbbf24;
  --color-warning-content: #000000;
  --color-error: #ef4444;
  --color-error-content: #ffffff;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


